/* Arquivo CSS geral com estilos dos elementos de todas as páginas */
* {
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 62.5%; /* Macete: equivalente a 10px (Assim fica adaptavel a dispositivos móveis! */
}

body {
  background-color: blue;
}

h1, h2, p, li {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(25, 25, 25);
}
a {
  color: rgb(26, 26, 33);
  text-decoration: none;
}

#primeiro-link a {
  color: rgb(8, 14, 5);
  
}

ul {
  background-color: blue;
  font-size: 20px;
}

ul li {
  font-size: .8em; /* equivalente a 16px */
  font-size: 1.6rem;
  width: 80%;
  height: 2.5rem; /* equivalente a 16px */
}

p {
  font-size: 1.6rem; /* equivalente a 8px */
}

h2 {
  font-size: 2.5rem; /* equivalente a 20px */
}

h3 {
  font-size: 2.1rem; 
}

.navegacao {
  background-color: blue;
}

.navegacao a {
    color: rgb(19, 22, 19);
}

form div {
  margin-bottom: 5px;
  background-color: rgb(234, 234, 234);
  border: 0;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  margin: 1rem 2rem; /* 1º serve para SuperiorInferior e 2º para laterais */
  padding: 2rem;
}

label {
  margin-bottom: .3rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
}

input {
  padding: 1re;
}

[type="text"], [type="email"], textarea, label {
  
  width: 100%;
  display: block;
}

/* Style the header */
header {
  background-color: #DDDDDD;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
    
  background: #fd0c0c;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  
  
}

/* Clear floats after the columns */
section::after {
  background: #fffefe;
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}




/*

top     (superior / cima )
bottom  (inferior / baixo)
left    ( esquerda )
right   ( direita )

*/

/* continua 00:25:38 */